// Google Font import

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

// Colors

$clr-primary: hsl(180, 29%, 50%);
$clr-background: hsl(180, 52%, 96%);
$clr-filter-tab: hsl(180, 31%, 95%);
$clr-time: hsl(180, 8%, 52%);
$clr-featured: hsl(180, 14%, 20%);
$header-image: url(./images/bg-header-mobile.svg);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background: $clr-background;
  width: 100%;
  min-height: 100vh;
}

header {
  background: $header-image no-repeat;
  background-size: 100vw 100%;
  background-color: $clr-primary;
  width: 100vw;
  height: 20vh;
}
button {
  cursor: pointer;
}
.tags-container {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
}
.tags {
  min-height: 100px;
  background: white;
  width: 90vw;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}
.tag-section {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  display: flex;
  margin-right: 1em;
  margin-bottom: 1em;
}
.tag > span {
  background: $clr-filter-tab;
  color: $clr-primary;
  padding: 0.5em 0.45em;
  border-radius: 5px 0 0 5px;
  font-weight: bold;
}
.cross-button {
  font-size: 1.05rem;
  padding: 0.35em 0.5em;
  border: none;
  background: $clr-primary;
  color: white;
  transition: background 300ms;
}

.cross-button:hover {
  background: black;
}
#clear {
  background: transparent;
  border: none;
  color: $clr-primary;
  font-size: 1rem;
}
#clear:hover {
  text-decoration: underline;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 3em 1.5em;
}

.item-box {
  width: 90vw;
  min-height: 200px;
  max-height: 45vh;
  background: white;
  border-radius: 10px;
  padding: 0 1.25em 1.75em 1.25em;
  margin: 1rem 0;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.2);
}
.is-featured {
  border-left: 7px solid $clr-primary;
}
.inner-container {
  position: relative;
  top: -25px;
}
.profile {
  color: $clr-primary;
  img {
    height: 50px;
    margin-left: 3px;
  }
}
.job-info {
  position: relative;
}
.job-info > * {
  margin-bottom: 1em;
}
.company-info {
  display: flex;
  align-items: baseline;
  .name {
    color: $clr-primary;
  }
  .new,
  .featured {
    text-transform: uppercase;
    margin-left: 1.5em;
    font-size: 12px;
    border-radius: 20px;
    padding: 0.75em 0.5em 0.5em 0.5em;
    font-weight: bold;
    color: $clr-filter-tab;
  }
  .new {
    background: $clr-primary;
  }
  .featured {
    background-color: $clr-featured;
  }
}
.details {
  color: $clr-time;
  margin-top: 0.5em;
  font-weight: bold;
}
.details > small {
  margin-right: 5px;
}
.job-info::after {
  content: "";
  position: absolute;
  bottom: 5;
  width: 100%;
  border-bottom: 2px solid $clr-time;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  color: $clr-primary;
  margin-top: 2em;
}

.filters > button {
  background: $clr-filter-tab;
  padding: 0.5em 0.45em;
  color: $clr-primary;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 1.25em;
  margin-bottom: 1em;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 500ms;
}

.filters > button:hover {
  background: $clr-primary;
  color: white;
}
@media (min-width: 768px) {
  .item-box {
    min-height: 150px;
    max-height: 200px;
    padding: 1.75em 1.25em;
  }
  .inner-container {
    top: 0;
    display: grid;
    grid-template-columns: 15% 40% 45%;
    align-items: center;
  }
  .profile > img {
    height: 75px;
    aspect-ratio: 1 / 1;
  }
  .job-info::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .item-box {
    min-height: 150px;
    max-height: 200px;
    padding: 1.75em 1.25em;
  }
  .inner-container {
    top: 0;
    display: grid;
    grid-template-columns: 10% 30% 60%;
    align-items: center;
  }
  .filters {
    justify-self: end;
  }

  .profile > img {
    height: 100px;
    aspect-ratio: 1 / 1;
  }
  .job-info::after {
    display: none;
  }
}
